force-app/main/default/flows/create_new_Vehicle.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>60.0</apiVersion>
    <decisions>
        <name>When_to_create_owner_or_seller</name>
        <label>When to create owner</label>
        <locationX>182</locationX>
        <locationY>890</locationY>
        <defaultConnector>
            <targetReference>When_to_create_seller</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>if_contact_for_owner_is_requested</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>I_need_to_create_a_new_contact</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>create_owner_new_contact</targetReference>
            </connector>
            <label>if contact for owner is requested</label>
        </rules>
    </decisions>
    <decisions>
        <name>When_to_create_seller</name>
        <label>When to create seller</label>
        <locationX>182</locationX>
        <locationY>1298</locationY>
        <defaultConnector>
            <targetReference>success_Message_screen_G</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>f_contact_for_seller_is_requested</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>I_need_to_create_a_new_contact</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>create_seller_new_contact</targetReference>
            </connector>
            <label>f contact for seller is requested</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>ComfortFeatures</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Comfort_Features__c</picklistField>
        <picklistObject>Vehicle__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ContactTypePicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Contact_Type__c</picklistField>
        <picklistObject>Contact</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>contactTypeSeller</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Contact_Type__c</picklistField>
        <picklistObject>Contact</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>DriveTypePicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Drive_type__c</picklistField>
        <picklistObject>Vehicle__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Fueltype</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Fuel_type__c</picklistField>
        <picklistObject>Vehicle__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ListingTypePicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Listing_Type__c</picklistField>
        <picklistObject>Vehicle__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>makerpicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Maker__c</picklistField>
        <picklistObject>Vehicle__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>modelpicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Model__c</picklistField>
        <picklistObject>Vehicle__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>MultimediaFeatures</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Multimedia_Features__c</picklistField>
        <picklistObject>Vehicle__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Numberofcylinders</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Number_of_cylinders__c</picklistField>
        <picklistObject>Vehicle__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>NumberofDoors</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Number_of_doors__c</picklistField>
        <picklistObject>Vehicle__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Numberofspeeds</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Number_of_speeds__c</picklistField>
        <picklistObject>Vehicle__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Safety2</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Safety__c</picklistField>
        <picklistObject>Vehicle__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>TransmissionPicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Transmission__c</picklistField>
        <picklistObject>Vehicle__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>VehicleTypePicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Vehicle_Type__c</picklistField>
        <picklistObject>Vehicle__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>create new Vehicle {!$Flow.CurrentDateTime}</interviewLabel>
    <label>create new Vehicle</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>create_owner_new_contact</name>
        <label>create owner( new contact)</label>
        <locationX>50</locationX>
        <locationY>998</locationY>
        <connector>
            <targetReference>update_Vehicle_Owner_Field</targetReference>
        </connector>
        <inputAssignments>
            <field>Contact_Type__c</field>
            <value>
                <elementReference>Contact_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Driving_License__c</field>
            <value>
                <elementReference>Driving_License</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>ContactName.firstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Insurance_Expiry_Date__c</field>
            <value>
                <elementReference>Insurance_Expiry_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Insurance_Number__c</field>
            <value>
                <elementReference>Insurance_Number</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Insurance__c</field>
            <value>
                <elementReference>Insurance</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>ContactName.lastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>License_Expiry_Date__c</field>
            <value>
                <elementReference>License_Expiry_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>License_Issue_Date__c</field>
            <value>
                <elementReference>License_Issue_Date</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Records_1</name>
        <label>Create New Vehicle</label>
        <locationX>182</locationX>
        <locationY>782</locationY>
        <connector>
            <targetReference>When_to_create_owner_or_seller</targetReference>
        </connector>
        <inputAssignments>
            <field>Category__c</field>
            <value>
                <elementReference>Category.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Comfort_Features__c</field>
            <value>
                <elementReference>Comfort_Features</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Comment__c</field>
            <value>
                <elementReference>Comment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Drive_type__c</field>
            <value>
                <elementReference>Drive_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Exterior_colors__c</field>
            <value>
                <elementReference>Exterior_colors</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fuel_type__c</field>
            <value>
                <elementReference>Fuel_type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Interior_colors__c</field>
            <value>
                <elementReference>Interior_colors</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Listing_Type__c</field>
            <value>
                <elementReference>Listing_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Maker__c</field>
            <value>
                <elementReference>Maker</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Millage__c</field>
            <value>
                <elementReference>Millage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Model__c</field>
            <value>
                <elementReference>Model</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Multimedia_Features__c</field>
            <value>
                <elementReference>Multimedia_Features</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Number_of_cylinders__c</field>
            <value>
                <elementReference>Number_of_cylinders</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Number_of_doors__c</field>
            <value>
                <elementReference>Number_of_Doors</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Number_of_seats__c</field>
            <value>
                <elementReference>Number_of_seats</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Number_of_speeds__c</field>
            <value>
                <elementReference>Number_of_speeds</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Owner__c</field>
            <value>
                <elementReference>VehicleOwner.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Price__c</field>
            <value>
                <elementReference>Price</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Safety__c</field>
            <value>
                <elementReference>Safety</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Seller__c</field>
            <value>
                <elementReference>Seller.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Transmission__c</field>
            <value>
                <elementReference>Transmission</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Vehicle_Title__c</field>
            <value>
                <elementReference>Vehicle_Title</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Vehicle_Type__c</field>
            <value>
                <elementReference>Vehicle_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Video_Link__c</field>
            <value>
                <elementReference>VideoLink.value</elementReference>
            </value>
        </inputAssignments>
        <object>Vehicle__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>create_seller_new_contact</name>
        <label>create seller ( new contact)</label>
        <locationX>50</locationX>
        <locationY>1406</locationY>
        <connector>
            <targetReference>update_Vehicle_seller_Field</targetReference>
        </connector>
        <inputAssignments>
            <field>Contact_Type__c</field>
            <value>
                <elementReference>contactTypeSeller2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Driving_License__c</field>
            <value>
                <elementReference>Driving_LicenseSeller</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>SellerName.firstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Insurance_Expiry_Date__c</field>
            <value>
                <elementReference>Insurance_Expiry_DateSeller</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Insurance_Number__c</field>
            <value>
                <elementReference>Insurance_NumberSeller</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Insurance__c</field>
            <value>
                <elementReference>InsuranceSeller</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>SellerName.lastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>License_Expiry_Date__c</field>
            <value>
                <elementReference>License_Expiry_DateSeller</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>License_Issue_Date__c</field>
            <value>
                <elementReference>License_Issue_DateSeller</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordUpdates>
        <name>update_Vehicle_Owner_Field</name>
        <label>update Vehicle Owner Field</label>
        <locationX>50</locationX>
        <locationY>1106</locationY>
        <connector>
            <targetReference>When_to_create_seller</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Create_Records_1</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Owner__c</field>
            <value>
                <elementReference>create_owner_new_contact</elementReference>
            </value>
        </inputAssignments>
        <object>Vehicle__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>update_Vehicle_seller_Field</name>
        <label>update Vehicle seller Field</label>
        <locationX>50</locationX>
        <locationY>1514</locationY>
        <connector>
            <targetReference>success_Message_screen_G</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Create_Records_1</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Seller__c</field>
            <value>
                <elementReference>create_seller_new_contact</elementReference>
            </value>
        </inputAssignments>
        <object>Vehicle__c</object>
    </recordUpdates>
    <screens>
        <name>screen_A</name>
        <label>screen A</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>screen_B</targetReference>
        </connector>
        <fields>
            <name>Vehicle_Title</name>
            <dataType>String</dataType>
            <fieldText>Vehicle Title</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Category</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Vehicle Category</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Category__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Vehicle__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>screen_B</name>
        <label>screen B</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>screen_c_Vehicle_Details</targetReference>
        </connector>
        <fields>
            <name>VehicleOwner</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Owner__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Vehicle Owner</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Vehicle__c</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>I_need_to_create_a_new_contact</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>I_need_to_create_a_new_contact</name>
            <dataType>Boolean</dataType>
            <fieldText>I need to create a new contact</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Contact_Type</name>
            <choiceReferences>ContactTypePicklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Contact Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>I_need_to_create_a_new_contact</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>ContactName</name>
            <extensionName>flowruntime:name</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Full Name</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>I_need_to_create_a_new_contact</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Driving_License</name>
            <dataType>Boolean</dataType>
            <fieldText>Driving License?</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>I_need_to_create_a_new_contact</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>License_Issue_Date</name>
            <dataType>Date</dataType>
            <fieldText>License Issue Date</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>I_need_to_create_a_new_contact</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Driving_License</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>License_Expiry_Date</name>
            <dataType>Date</dataType>
            <fieldText>License Expiry Date</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>I_need_to_create_a_new_contact</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Driving_License</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Insurance</name>
            <dataType>Boolean</dataType>
            <fieldText>Insurance</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>I_need_to_create_a_new_contact</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Insurance_Number</name>
            <dataType>String</dataType>
            <fieldText>Insurance Number</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>I_need_to_create_a_new_contact</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Insurance</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Insurance_Expiry_Date</name>
            <dataType>Date</dataType>
            <fieldText>Insurance Expiry Date</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>I_need_to_create_a_new_contact</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Insurance</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>screen_c_Vehicle_Details</name>
        <label>screen c Vehicle Details</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>screen_D_Specifications</targetReference>
        </connector>
        <fields>
            <name>Maker</name>
            <choiceReferences>makerpicklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Maker</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Model</name>
            <choiceReferences>modelpicklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Model</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Vehicle_Type</name>
            <choiceReferences>VehicleTypePicklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Vehicle Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Listing_Type</name>
            <choiceReferences>ListingTypePicklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Listing Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Price</name>
            <dataType>Currency</dataType>
            <fieldText>Price</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Millage</name>
            <dataType>Number</dataType>
            <fieldText>Millage</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>VideoLink</name>
            <extensionName>flowruntime:url</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Video Link</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Comment</name>
            <fieldText>Comment</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>screen_D_Specifications</name>
        <label>screen D Specifications</label>
        <locationX>182</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>SCREEN_E_Features</targetReference>
        </connector>
        <fields>
            <name>Transmission</name>
            <choiceReferences>TransmissionPicklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Transmission</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Drive_Type</name>
            <choiceReferences>DriveTypePicklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Drive Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Number_of_cylinders</name>
            <choiceReferences>Numberofcylinders</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Number of cylinders</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Number_of_speeds</name>
            <choiceReferences>Numberofspeeds</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Number of speeds</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Fuel_type</name>
            <choiceReferences>Fueltype</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Fuel type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Exterior_colors</name>
            <dataType>String</dataType>
            <fieldText>Exterior colors</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Number_of_Doors</name>
            <choiceReferences>NumberofDoors</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Number of Doors</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Number_of_seats</name>
            <dataType>Number</dataType>
            <fieldText>Number of seats</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Interior_colors</name>
            <dataType>String</dataType>
            <fieldText>Interior colors</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SCREEN_E_Features</name>
        <label>SCREEN E | Features</label>
        <locationX>182</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>SCREEN_F_Other</targetReference>
        </connector>
        <fields>
            <name>Comfort_Features</name>
            <choiceReferences>ComfortFeatures</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Comfort Features</fieldText>
            <fieldType>MultiSelectPicklist</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Multimedia_Features</name>
            <choiceReferences>MultimediaFeatures</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Multimedia Features</fieldText>
            <fieldType>MultiSelectPicklist</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Safety</name>
            <choiceReferences>Safety2</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Safety</fieldText>
            <fieldType>MultiSelectPicklist</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SCREEN_F_Other</name>
        <label>SCREEN F | Other</label>
        <locationX>182</locationX>
        <locationY>674</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Records_1</targetReference>
        </connector>
        <fields>
            <name>Seller</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Seller__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Vehicle__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Vehicle Seller</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>I_need_to_create_a_new_contact2</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>I_need_to_create_a_new_contact2</name>
            <dataType>Boolean</dataType>
            <fieldText>I need to create a new contact2</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>contactTypeSeller2</name>
            <choiceReferences>contactTypeSeller</choiceReferences>
            <dataType>String</dataType>
            <fieldText>contactTypeSeller2</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>SellerName</name>
            <extensionName>flowruntime:name</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>I_need_to_create_a_new_contact2</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Driving_LicenseSeller</name>
            <dataType>Boolean</dataType>
            <fieldText>Driving License?</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>I_need_to_create_a_new_contact2</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>License_Issue_DateSeller</name>
            <dataType>Date</dataType>
            <fieldText>License Issue Date</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>I_need_to_create_a_new_contact2</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Driving_LicenseSeller</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>License_Expiry_DateSeller</name>
            <dataType>Date</dataType>
            <fieldText>License Expiry Date</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>I_need_to_create_a_new_contact2</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Driving_LicenseSeller</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>InsuranceSeller</name>
            <dataType>Boolean</dataType>
            <fieldText>Insurance?</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>I_need_to_create_a_new_contact2</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Insurance_NumberSeller</name>
            <dataType>String</dataType>
            <fieldText>Insurance Number</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>I_need_to_create_a_new_contact2</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>InsuranceSeller</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Insurance_Expiry_DateSeller</name>
            <dataType>Date</dataType>
            <fieldText>Insurance Expiry Date</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>I_need_to_create_a_new_contact2</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>InsuranceSeller</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>success_Message_screen_G</name>
        <label>success Message screen G</label>
        <locationX>182</locationX>
        <locationY>1706</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>SuccessMSG</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;new vehicle has been created&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(13, 228, 16); font-size: 14px;&quot;&gt;vehicle name&lt;/strong&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;:{!Vehicle_Title}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>screen_A</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
</Flow>
