force-app/main/default/flows/email_notification_to_renters.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>send_email</name>
        <label>send email</label>
        <locationX>50</locationX>
        <locationY>768</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>emailL</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Vehicle is not returned on time</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <stringValue> You didn&apos;t bring back the car you rented. Penalty will be applied.  </stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>add_all_email_add_from_loop_to_collection</name>
        <label>add all email add from loop to collection</label>
        <locationX>270</locationX>
        <locationY>468</locationY>
        <assignmentItems>
            <assignToReference>emailL</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LOOP_rent_req_records.Rent_To__r.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LOOP_rent_req_records</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>what_to_do</name>
        <label>what to do?</label>
        <locationX>182</locationX>
        <locationY>660</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>if_emailL_is_not_empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>emailL</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>send_email</targetReference>
            </connector>
            <label>if emailL is not empty</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>email notification to renters {!$Flow.CurrentDateTime}</interviewLabel>
    <label>email notification to renters</label>
    <loops>
        <name>LOOP_rent_req_records</name>
        <label>LOOP rent req records</label>
        <locationX>182</locationX>
        <locationY>360</locationY>
        <collectionReference>Get_all_not_returned_vehicles</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>add_all_email_add_from_loop_to_collection</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>what_to_do</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_all_not_returned_vehicles</name>
        <label>Get all not returned vehicles</label>
        <locationX>182</locationX>
        <locationY>252</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LOOP_rent_req_records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Rent_Return__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Rent_Until__c</field>
            <operator>LessThan</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Rent_Request__c</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_all_not_returned_vehicles</targetReference>
        </connector>
        <object>Rent_Request__c</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2024-04-17</startDate>
            <startTime>18:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>emailL</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
